<!-- views/pages/about.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <container>
            <form method="post"> 
                    <div class="form-group">
                      <label for="formGroupExampleInput">Crypto Currency</label>
                      <select class="form-control" name="cryptoId">
                        <option selected >Open this select menu</option>
                      <% for(var i=0; i<data.length; i++) {%>
                              <option value="<%=data[i].id%>"><%=data[i].name%></option>
                      <%}%>        
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="formGroupExampleInput2">Buy Price (USD)</label>
                      <input type="number" name="price" class="form-control" id="formGroupExampleInput2" placeholder="$" step="0.01">
                    </div>
                    <div class="form-group">
                         <input type="submit" value="Input submit button">
                    </div>
            </form>
        </container>
    </main>
    
    <footer>
        <% include ../partials/footer %>
    </footer>
    
    </body>
</html>