<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
    <link rel="stylesheet" href="../../css/styles.css"/>
</header>

<main>
    <container>
    <div class="panel panel-default">
        <div class="panel-heading">Ticker USD</div>
        <div class="panel-body">
            <table class="table table-striped paginated">
                <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Price Btc</th>
                    <th scope="col">Price USD</th>
                    <th scope="col">Last Updated</th>
                </tr>
                </thead>
                <tbody>
                    <% for(var i=0; i<data.length; i++) {%>
                                <tr>
                                        <td scope="row"><%= data[i].id %></td>
                                        <td><%= data[i].price_btc %></td>
                                        <td><%= data[i].price_usd %></td>
                                        <td><%= new Date(data[i].last_updated * 1000).toLocaleString('en-GB', { hour12:false }) %></td>
                                </tr>                        
                    <% } %>            

                </tbody>
            </table>
        </div>
    </container>
</main>

<footer>
    <% include ../partials/footer %>
</footer>
<script type="text/javascript" src="../../js/index.js"></script>
</body>
</html>